[submodule "libstrophe"]
	path = libstrophe
	url = git@github.com:kassak/libstrophe.git
[submodule "libtinysocket"]
	path = libtinysocket
	url = git@github.com:kassak/libtinysocket.git
[submodule "liboccam"]
	path = liboccam
	url = git@github.com:kassak/liboccam.git
